In [8]:
import pandas as pd

In [11]:
df = pd.read_csv('eval_scenarios/listen_plans.csv')

In [13]:
results = pd.read_csv('tareas_procesadas.csv')

In [15]:
results['plan_goals_GT'] = df['plan_goals_GT']

In [17]:
results.to_csv('tareas_procesadas_con_GT.csv',index=False)

## Results final

In [21]:
# Calculate Completeness and Correctness

data = pd.read_csv('tareas_procesadas_format.csv')
def calculate_completeness_correctness_ratios(row):
    gt_set = set(row['plan_goals_GT'])
    matched_set = set(row['matched_goal_numbers'])
    
    # Completeness Ratio: Ratio of matched goals that are in GT goals
    completeness_ratio = len(matched_set.intersection(gt_set)) / len(gt_set) if len(gt_set) > 0 else 1.0
    
    # Correctness Ratio: Ratio of matched goals that correctly match GT goals
    correctness_ratio = len(matched_set.intersection(gt_set)) / len(matched_set) if len(matched_set) > 0 else 1.0
    
    return pd.Series([completeness_ratio, correctness_ratio])

data[['completeness', 'correctness']] = data.apply(calculate_completeness_correctness_ratios, axis=1)

In [22]:
data.describe()

        num_plan  completeness  correctness
count  32.000000     32.000000    32.000000
mean    4.562500      0.947421     0.995536
std     2.435457      0.142326     0.025254
min     1.000000      0.500000     0.857143
25%     2.750000      1.000000     1.000000
50%     4.500000      1.000000     1.000000
75%     6.250000      1.000000     1.000000
max     9.000000      1.000000     1.000000